.login-container {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 90vh;
}

.login-container p {
    margin: 0;
    padding: 0;
}

.login-container span {
    color: black;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

.submit {
    border: none;
    background-color: black;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

.submit:hover {
    cursor: pointer;
    background-color: #363636;
}

@media only screen and (max-device-width: 900px) {
    .login-container {
        width: 900px;
    }
}