.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar h1 {
    padding: 0;
    margin: 0;
}

nav a{
    margin-right: 2em;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: .5em;
    border-radius: 5px;
}

.active {
    background-color: black;
    color: white;
}

@media only screen and (max-device-width: 900px) {
    .navbar {
        width: 900px;
    }
}
