.footer {
    background-color: #000;
    color: #fff;
    padding: 2em;
}

.footer a {
    color: #fff;
    cursor: pointer;
}

.footer h2 {
    text-align: center;
}

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about li {
    padding: .3em;
}

@media only screen and (max-device-width: 900px) {
    .footer {
        width: 900px;
        padding: 0 0 2em 0;
    }
}